<!doctype html>
{% set lang_code = current_lang | default(value="en-US") %}
<html lang="{{ lang_code }}">
    {% include "inc_head.html" %} {% include "inc_navbar.html" %}
    <body class="container">
        <h1>{{ t(key="gui-expiries-title", lang=lang_code) }}</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>{{ t(key="gui-inventory-list-id", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-inventory-item_kind-created", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-inventory-item_kind-updated", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-expiries-code", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-expiries-modifier", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-expiries-count", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-expiries-translation", lang=lang_code) }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expiry in expiries %}
                                    <tr>
                                        <td>{{ expiry.id }}</td>
                                        <td data-utc="{{ expiry.created_at }}">
                                            {{ expiry.created_at }}
                                        </td>
                                        <td data-utc="{{ expiry.updated_at }}">
                                            {{ expiry.updated_at }}
                                        </td>
                                        <td>{{ expiry.code }}</td>
                                        <td>{{ expiry.sqlite_modifier }}</td>
                                        <td>
                                            {{ expiry.sqlite_num_of_modifier }}
                                        </td>
                                        <td>
                                            {{ t(key=expiry.code, lang=lang_code) }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
