<!doctype html>
{% set lang_code = current_lang | default(value="en-US") %}
<html lang="{{ lang_code }}">
    {% include "inc_head.html" %} {% include "inc_navbar.html" %}
    <body class="container">
        <h1>{{ t(key="gui-translations-title", lang=lang_code) }}</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>{{ t(key="gui-inventory-list-id", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-inventory-item_kind-created", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-inventory-item_kind-updated", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-translations-code", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-translations-lang", lang=lang_code) }}</th>
                                        <th>{{ t(key="gui-translations-text", lang=lang_code) }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for translation in translations %}
                                    <tr>
                                        <td>{{ translation.id }}</td>
                                        <td
                                            data-utc="{{ translation.created_at }}"
                                        >
                                            {{ translation.created_at }}
                                        </td>
                                        <td
                                            data-utc="{{ translation.updated_at }}"
                                        >
                                            {{ translation.updated_at }}
                                        </td>
                                        <td>{{ translation.code }}</td>
                                        <td>{{ translation.lang }}</td>
                                        <td>{{ translation.text }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
