<!doctype html>
{% set lang_code = current_lang | default(value="en-US") %}
<html lang="{{ lang_code }}">
    {% include "inc_head.html" %} {% include "inc_navbar.html" %}
    <body class="container">
        <h1>{{ t(key="gui-inventory-item_kind-add_title", lang=lang_code) }}</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="itemKindName" class="form-label">
                    {{ t(key="gui-inventory-item_kind-name_label", lang=lang_code) }}
                </label>
                <input
                    type="text"
                    class="form-control"
                    id="itemKindName"
                    name="name"
                />
            </div>

            <div class="mb-3">
                <label for="itemChecklist" class="form-label">
                    {{ t(key="gui-inventory-item_kind-default_checklist", lang=lang_code) }}
                </label>
                <select
                    class="form-select"
                    id="itemChecklist"
                    name="default_checklist_id"
                >
                    {% for checklist in checklists %} {% if loop.first %}
                    <option value="{{ checklist.id }}" selected>
                        {{ checklist.name }}
                    </option>
                    {% else %}
                    <option value="{{ checklist.id }}">
                        {{ checklist.name }}
                    </option>
                    {% endif %} {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="itemCheckInterval" class="form-label">
                    {{ t(key="gui-inventory-item_kind-default_interval", lang=lang_code) }}
                </label>
                <select
                    class="form-select"
                    id="itemCheckInterval"
                    name="default_interval_id"
                >
                    {% for interval in intervals %} {% if loop.first %}
                    <option value="{{ interval.id }}" selected>
                        {{ t(key=interval.code, lang=lang_code) }}
                    </option>
                    {% else %}
                    <option value="{{ interval.id }}">
                        {{ t(key=interval.code, lang="de-DE") }}
                    </option>
                    {% endif %} {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="itemExpiry" class="form-label">
                    {{ t(key="gui-inventory-item_kind-default_expiry", lang=lang_code) }}
                </label>
                <select
                    class="form-select"
                    id="itemExpiry"
                    name="default_expiry_id"
                >
                    {% for expiry in expiries %} {% if loop.first %}
                    <option value="{{ expiry.id }}" selected>
                        {{ t(key=expiry.code, lang=lang_code) }}
                    </option>
                    {% else %}
                    <option value="{{ expiry.id }}">
                        {{ t(key=expiry.code, lang="de-DE") }}
                    </option>
                    {% endif %} {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">
                {{ t(key="gui-common-submit", lang=lang_code) }}
            </button>
        </form>
        <div class="row">
            <div class="col"></div>
        </div>
    </body>
</html>
